#header .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header .carousel-item::before {
    content: '';
    background-color: rgba(21, 27, 26, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

#header .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

#header .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#header .carousel-content {
    text-align: center;
    margin-top: -100px;
}

#header .active .carousel-content {
    margin-top: 100px;
    transition: 0.5s;
}

#header h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}

#header p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}

#header .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}

#header .carousel-control-prev,
#header .carousel-control-next {
    width: 10%;
    font-size: 36px;
    color: #fff;
}

#header .carousel-indicators li {
    cursor: pointer;
    opacity: 1;
}

#header .carousel-indicators .active {
    background-color: #ffeb3b;
}

#header .contactus-btn {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #ffffff;
}

#header .contactus-btn:hover {
    background: #ffffff;
    color: #333333;
    text-decoration: none;
}

/*--======= Slider Section Responsive CSS ======= --*/
@media (max-width: 768px) {
    #header h2 {
        font-size: 24px;
    }

    #header .carousel-control-prev,
    #header .carousel-control-next {
        font-size: 24px;
    }
}

@media (min-width: 1024px) {
    #header p {
        width: 60%;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    ;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: right;
    padding: 8px 20px 8px;
    z-index: 9999;
}

.form-control {
    font-size: 16px;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-control,
.btn {
    border-radius: 50px;
    outline: none !important;
}

.login-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

.login-form form {
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px 50px;
}

.login-form .btn {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.social-btn .btn {
    color: #fff;
    margin: 10px 0;
    font-size: 15px;
    border-radius: 50px;
    text-indent: 10px;
    font-weight: normal;
    border: none;
    text-align: center;
}

.social-btn .btn:hover {
    opacity: 0.9;
}

.social-btn .btn-primary {
    background: #507cc0;
}

.social-btn .btn-info {
    background: #64ccf1;
}

.social-btn .btn-danger {
    background: #df4930;
}

.social-btn .btn i {
    margin-right: 9px;
    font-size: 20px;
    min-width: 25px;
    position: relative;
    top: 2px;
}

.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}

.login-form a {
    color: #5cb85c;
}

.form-control {
    font-size: 16px;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-control,
.btn {
    border-radius: 50px;
    outline: none !important;
}

.login-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

.login-form form {
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px 50px;
}

.login-form .btn {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.social-btn .btn {
    color: #fff;
    margin: 10px 0;
    font-size: 15px;
    border-radius: 50px;
    text-indent: 10px;
    font-weight: normal;
    border: none;
    text-align: center;
}

.social-btn .btn:hover {
    opacity: 0.9;
}

.social-btn .btn-primary {
    background: #507cc0;
}

.social-btn .btn-info {
    background: #64ccf1;
}

.social-btn .btn-danger {
    background: #df4930;
}

.social-btn .btn i {
    margin-right: 9px;
    font-size: 20px;
    min-width: 25px;
    position: relative;
    top: 2px;
}

.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}

.login-form a {
    color: #5cb85c;
}

.modal-content {
    background-color: #f7f7f7;
}
